@font-face {
  font-family: "Inter", Arial, sans-serif;
  src: url(https://pictures.s3.yandex.net/frontend-developer/responsive/Inter-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: "Inter", Arial, sans-serif;
  src: url(https://pictures.s3.yandex.net/frontend-developer/responsive/Inter-Bold.woff2);
  font-weight: bold;
}

.page {
  /* padding-top: 2.8125rem; */
  background-color: #000000;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
  
}

.page__img-content{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  height: 100%;
  max-width: 90%;
  z-index: 4;
}

.page__img{
  height: 80%;
  width: 100%;

}

.page__img-name{
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  margin-top: 0.63rem;
  align-self: flex-start;
}

.page__button {
  border: none;
  background-image: url(../../image/Close_Icon.svg);
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  /* position: fixed;
  top: 9.25rem;
  left: 67%;
  z-index: 2; */
  /* display: none; */
  background-color: transparent;
  align-self: flex-end;
  margin-bottom: 1rem;
}

.page__button:hover {
  background-image: url(../../image/Close_Icon-gray.svg);
  cursor: pointer;
}