.page__form-profile {
  width: 26.9rem;
  height: 21rem;
  border-radius: 0.63rem;
  background-color: white;
  position: fixed;
  top: 12.19rem;
  right: center;
  /* display: none; */
  flex-direction: column;
  z-index: 2;
}

@media screen and (max-width: 450px) {
  .page__form-profile {
    /* border: red 1px solid; */
    width: 300px;
  }
}
