.page__form-card {
  transition: visibility 0s, opacity 1s linear;
  width: auto;
  height: auto;
  border-radius: 0.63rem;
  background-color: white;
  /* position: fixed;
  top: 12.19rem;
  right: center; */
  /* display: none; */
  flex-direction: column;
  z-index: 2;
}

@media screen and (max-width: 450px) {
  .page__form-card {
    /* border: red 1px solid; */
    width: 300px;
  }
}
