.footer {
  font-size: 1rem;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: white;
}

@media screen and (max-width: 900px) {
  .footer {
    text-align: center;
  }
}
