.page__form-profile-button {
  width: 22.375rem;
  height: 3.1344rem;
  border-radius: 0.125rem;
  background-color: #000;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  align-self: center;
  border: none;
}

.page__form-profile-button:hover {
  background-color: gray;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .page__form-profile-button {
    /* border: red 1px solid; */
    width: 250px;
  }
}
