.elements {
  /* border: red 1px solid; */
  width: 882px;
  height: auto;
  margin: 0 0 1rem 0;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.125rem;
}

@media screen and (max-width: 900px) {
  .elements {
    /* border: red 1px solid; */
    width: 100%;
    justify-content: space-evenly;
  }
}
