.card__heart {
    background-image: url(../../../../../image/Vectorheart.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 1.6rem;
    width: 1.50rem;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: transparent;
}

.card__heart:hover{
    background-image: url(../../../../../image/Vectorheart-gray.svg);
    cursor: pointer;
}